	<div id="instruction">
		<div id="instruction-text">
	
		<h4>Assignment instruction</h4>
		<p>You are given a data (data.csv file) that consists of total visits for each websites based on a weekly dates. Your assignment is to create a web application to render &#39;Top 5 Websites Ranking&#39; report where:</p>
		<ol>
			<li>The report should clearly show the top 5 websites based on the selected date with their respective total visits column.</li>
			<li>User should be able to change the date and the report will be updated based on the selected date.
			<li>Data should be retrieved from a database (not csv file).</li>
			<li>Document on how we could deploy your application or how we could access your application (if hosted on the cloud services).</li>
			<li>Please push your source code to GitHub(https://github.com/) and send the link to the repository to ...</li>
		</ol>
		<br>
		<h4>Preferred technologies are:</h4>
		<ul> 
			<li>Java(Spring)/NodeJs/Python</li>
			<li>AngularJS/D3Js</li>
			<li>Postgres DB/MySql</li>
		</ul>
		<br>
		<strong>Note: These are the technologies you will be working with in our company. So try your best to use these suggested technologies.</strong>
		<br>
		<br>
		<h4>The application will be judged based on:</h4>
		<ul> 
			<li>maintainability</li>
			<li>scalability</li>
			<li>modularity</li>
			<li>user-experience (UX) aspects</li>
		</ul>
		<br>
		<h4>Bonus points if you could</h4>
		<ul> 
			<li>Create other type of reports</li>
			<li>Add more parameters besides date than can change the report output</li>
			<li>Make your application available online. (Highly preferred)</li>
			<li>List down other improvements you wish to add on top your existing application</li>
		</ul>
		</div>
	</div>
